@{
    ViewBag.Title = "Home Page";
}

<main>
    <section class="row" aria-labelledby="studentManagementTitle">
        <h1 id="title">Student Management System</h1>
        <p class="lead">Our Student Management System helps in managing student information efficiently with an easy-to-use interface and robust features.</p>
        <p><a href="/about" class="btn btn-primary btn-md">Learn more &raquo;</a></p>
    </section>

    <div class="row">
        <section class="col-md-4" aria-labelledby="manageStudentsTitle">
            <h2 id="manageStudentsTitle">Manage Students</h2>
            <p>
                Easily add, update, and delete student records. Keep track of student performance and manage their academic progress with ease.
                <ul>
                    <li>Add new students</li>
                    <li>Delete student records</li>
                    <li>Update student information</li>
                </ul>
            </p>
            <p><a class="btn btn-outline-dark" href="/manage-students">Learn more &raquo;</a></p>
        </section>
        <section class="col-md-4" aria-labelledby="coursesTitle">
            <h2 id="coursesTitle">Manage Courses</h2>
            <p>
                Organize and manage course information. Assign students to courses and keep track of their attendance and grades.
                <ul>
                    <li>Add new courses</li>
                    <li>Delete courses</li>
                    <li>Update course details</li>
                </ul>
            </p>
            <p><a class="btn btn-outline-dark" href="/manage-courses">Learn more &raquo;</a></p>
        </section>
        <section class="col-md-4" aria-labelledby="batchDetailsTitle">
            <h2 id="batchDetailsTitle">Edit Batch Details</h2>
            <p>
                Manage batch information effectively. Update batch schedules, assign courses, and manage batch performance.
                <ul>
                    <li>Edit batch details</li>
                    <li>Update batch schedules</li>
                    <li>Assign courses to batches</li>
                </ul>
            </p>
            <p><a class="btn btn-outline-dark" href="/edit-batch-details">Learn more &raquo;</a></p>
        </section>
        <section class="col-md-4" aria-labelledby="reportsTitle">
            <h2 id="reportsTitle">Generate Reports</h2>
            <p>
                Generate detailed reports on student performance, attendance, and more. Export reports for analysis and sharing.
                <ul>
                    <li>Student performance reports</li>
                    <li>Attendance reports</li>
                    <li>Course completion reports</li>
                </ul>
            </p>
            <p><a class="btn btn-outline-dark" href="/generate-reports">Learn more &raquo;</a></p>
        </section>
    </div>
</main>
